.homeLinks {
  width: 900px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  align-content: center;
}

.tagline {
  width: 900px;
  margin: auto;
  font-size: 26px;
  padding-bottom: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .homeLinks,
  .tagline {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .homeLinks,
  .tagline {
    width: 100%;
  }

  .tagline {
    padding: 0 16px;
    line-height: 1.2em;
    padding-right: 40px;
  }
}
